{% extends 'layouts/app.twig' %}

{% block content %}

    <form action="/new-book" method="post">
        <div class="div_align">
            <div>
                <label for="name">Название</label>
            </div>
            <div>
                <label for="author">Автор</label>
            </div>
            <div>
                <label for="year">Год</label>
            </div>
        </div>

        <div class="div_align">
            <tr>
                <td>
                    <div class="text_align_center">
                        <input type="text" id="name" name="name">
                    </div>
                    <div class="text_align_center">
                        <input type="text" id="author" name="author">
                    </div>
                    <div class="text_align_center">
                        <input type="number" min="1970" max="2150" id="year" name="year">
                    </div>
                </td>
            </tr>
        </div>

        <div>
        <button>Добавить</button>
        </div>
    </form>

    {% if books|length > 0 %}

        <ul>

        {% for book in books %}

            <li>{{ book.name }}</li>
        {% endfor %}
        </ul>

    {% else %}

        <div>
            Книг нет!
        </div>

    {% endif %}

{% endblock %}
